/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 1px;
    padding: 10px 20px; /* Dodajte padding za bolji razmak */
    top: 0;
    left: 0;
    z-index: 1000; /* Postavite z-index tako da bude iznad drugih elemenata */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin: 0;
}

/* Logo */
.logo-place {
    display: flex;
    align-items: center;
}

/* Header navigation */
.header-navigation {
    display: flex;
    align-items: center;
}

.cart-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1100; /* Povećaj z-index za korpu */
}

.cart {
    display: none;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px black;
    width: 300px;
    height: 100%;
    z-index: 2000; /* Viši z-index za korpu */
}

.cart.visible {
    display: flex;
    visibility: visible;
    opacity: 1;
}

/* Dropdown Menu */
.dropdown-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 20%;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1500; /* Dodaj z-index za dropdown meni */

}

.dropdown-menu.visible {
    visibility: visible;
    opacity: 1;
    overflow-x: hidden;
}

.dropdown-menu .options p {
    margin: 10px 0;
    cursor: pointer;
}
.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Cart details */
.cart-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}

.cart-header h2 {
    margin-left: 10px;
}

.cart-header span {
    margin-right: 10px;
    cursor: pointer;
}

/* Products in cart */
.products {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.products ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-product {
    display: flex;
    width: 100%; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.show-product img {
    width: 110px;
    height: 148px;
    border-radius: 5px;
    margin-right: 5px;
}

.about-product p {
    font-size: medium;
}

.cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.cart-info p {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 10px 0;
}

.checkout-button {
    color: white;
    background-color: #2F2E2E;
    width: 250px;
    height: 50px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: rgb(79, 77, 77);
}

.login-option {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.login-option img {
    position: relative;
    border-radius: 50%;
    height: auto;
    width: 30px;
}
.login-option img:hover{
    background-color: rgb(25, 135, 232);
}
.login-option img, .login-option span {
    margin-left: 5px;
}

.user-option {
    display: none;
    top: 60px;
    right: 50px;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 6px black;
    border-radius: 20%;
}
.visible {
    display: flex;
    flex-direction: column;
    visibility: visible;
}
.list-of-options {
    height: auto;
    width: 120px;
    padding: 0;
    margin: 5px;
}

.list-of-options li {
    list-style: none;
}
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .option p {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-right: 5px;
  }
  .option p:hover{
    background-color: rgb(243, 242, 242);
    box-shadow: 1px 1px 6px black;
  }

.header-navigation p, span {
    cursor: pointer;
    margin-left: 10px;
}

/* Responsive */
@media screen and (max-width: 786px) {
    .dropdown-menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1500; /* Viši z-index za mobilnu verziju */
    }

    .dropdown-menu.visible {
        visibility: visible;
        opacity: 1;
    }

    .cart {
        width: 100%;
        top: 0; /* Dodaj ovde da bi bila uvek u gornjem desnom kutu */
    }

    .checkout-button {
        width: 100%;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
