.notification-page{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #273F4F;
}
.notifications-table{
    position: relative;
    width: 50%;
    margin-top: 220px;
    border-collapse: collapse;
}
th,td {
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
}
.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
