.products-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: auto; /* Dozvoljava scroll ako je potrebno */
    box-sizing: border-box;
}
.represent-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}
.represent-image img {
    width: 90%;
    max-height: 250px;
    object-fit: cover;
}
.product-and-filter-container {
    display: flex;
    justify-content: center;
}
.search-filter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}
.search-filter button {
    display: flex;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: #2F2E2E ;
    padding: 15px 45px;
    cursor: pointer;
}
.search-filter h1 {
    border-bottom: 2px solid rgb(0, 0, 0); 
}
.search-filter p {
    margin-top: 0;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.filters {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.filters :hover {
    box-shadow: 1px 1px 5px black;
}
.products-and-filter {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
}
.product-name{
    border-bottom: 1px solid black;
}
.product-card{
    display: inline-grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
}
.product{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 10px;
}
.product p {
   display: flex;
   align-items: center;
   justify-content: center;
}

.product:hover{
    box-shadow: 1px 1px 15px black;
}
.product img {
    width: 100%;
    height: 350px;
}
.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.product p {
    margin-top: 1px;
}
.choose-color {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(94, 94, 94);
    margin-bottom: 0px;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}
.circle {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}
.circle:hover {
    transform: scale(1.1); /* Blago povećanje na hover */
}
.choose-color.visible {
    display: flex;
    flex-wrap: wrap;
    visibility: visible;
    max-height: 100px; 
    opacity: 1;
}

.choose-color p {
    margin: 0;
}
.choose-color span {
    margin-left: auto;
}
.choose-size {
    display: flex;
    opacity: 0;
    max-height: 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
}
.choose-size.visible {
    max-height: 150px; /* Povećaj ako treba više prostora */
    opacity: 1;
}
.choose-size p {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    transition: transform 0.2s ease-in-out;
}
.choose-size span {
    margin-left: auto;
}

.size-elements {
    visibility: hidden;
}
.size-elements.visible {
    visibility: visible;
}
@media (max-width: 786px) {
    .product-and-filter-container{
        flex-direction: column;
        align-items: center;
    }
}