.product-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.product-details{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px;
}
.image-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img{
    width: 500px;
    height: 667px;
    object-fit: fill;
    object-position: 50% 50%;
    border-radius: 5px;
}
.more-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}
.more-photos .material-symbols-outlined{
    padding: 2px;
    background-color: white;
    border-radius: 50%;
}
.more-photos .material-symbols-outlined:hover{
    color: gray;
}
.product-info {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;
}

.size-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.size-container button {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.size-container button:hover{
    box-shadow: 1px 1px 5px black;
}
.product-details .colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #2F2E2E;
}
.circle {
    position: relative;
    right: 5px;
    justify-content: center;
    align-items: center;
    width: 30px;          /* Postavi širinu kružića */
    height: 30px;         /* Postavi visinu kružića (isto kao širinu) */
    border-radius: 50%;   /* Zaokružuje ivice da bi napravio kružić */
    margin-left: 10px;
    cursor: pointer;
}
.circle:hover{
    box-shadow:1px 1px 7px rgb(185, 185, 185);
}
.quantity-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quantity {
    position: relative;
    top: 0;
    align-items: center;
    font-size: large;
    height: 30px;
    width: 60px;
}
.add-to-cart{
    display: flex;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: #2F2E2E ;
    padding: 15px 45px;
    cursor: pointer;
}
h1{
    color: rgb(0, 0, 0);
}

@media (max-width:786px) {
    .product-page{
        display: flex;
        flex-direction: column;
    }
    .product-details img{
        width: 300px;
        height: 467px;
        object-fit: fill;
        border-radius: 5px;
    }
    .product-details{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .product-info{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

   
}