body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 240, 240);
    border-radius: 65px;
    height: auto;
    width: 700px;
}
.user-container p {
    color: black;
}
.user-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.detail {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}
.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    border: 1px solid black;
    margin-bottom: 8px

}
.detail-item p {
    color: black;
    margin-top: 15px;
}
.detail-item p,button {
    margin-left: 10px;
}
.detail-item button{
    background-color: rgb(9, 9, 9);
    color: white;
    border: none;
    height: 30px;
    width: 60px;
    border-radius: 3px;
    cursor: pointer;
}
.user-button-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    list-style-type: none;
}
.detail-item button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}
.user-authorization {
    display: flex;
    margin-bottom: 5px;
}
.user-authorization button {
    background-color: rgb(9, 9, 9);
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}
.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.profile-photo img {
    height: 250px;
    width: auto;
}
.user-authorization button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}
.roles-dashboard {
    display: flex;
    margin-top: 150px;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(179, 176, 176);
    color: rgb(13, 13, 13);
    padding: 20px; /* Dodat prostor unutar elementa */
    border-radius: 5px; /* Zaobljeni uglovi */
    font-size: 18px; 
    height: 700px;
    width: 700px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Razmak ispod naslova */
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
}
.title button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.roles-list {
   width: 100%;
}

.user-roles {
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
}

.role-item {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.roles-list li {
    margin-bottom: 10px;
}
.roles-manager-buttons {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}
.roles-manager-buttons button {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.roles-manager-button, .user-roles {
    margin-bottom: 20px;
}
.roles-to-add {
    display: flex;
    background-color: rgb(59, 61, 61);
    position: absolute; 
    left: 20%;          
    top: 0;              
    margin-left: 10px;
    border-radius: 5px;
    height: auto;
    width: 260px;
    overflow: scroll;
    overflow-x: hidden;
}
.error-roles {
    color: red;
}
.edit-details{
    display: flex;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    height: 150px;
    width: 400px;
    border-radius: 5px;
}
.getBack-button{
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
/* .roles-to-add {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute; 
    left: 20%;          
    top: 0;              
    margin-left: 10px;
    background-color: rgb(0, 0, 0);
    height: 220px;
    width: 260px;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.roles-to-add p {
    display: flex;
    color: white;
    cursor: pointer;
    font-size: 17px;
}
.roles-to-add button {
    margin-right: auto;
} */
.role {
    display: flex; /* Fleksibilno pozicioniranje za paragraf i dugme */
    justify-content: space-between; /* Razmak između paragrafa i dugmeta */
    align-items: center; /* Poravnanje po vertikali */
    padding: 10px; /* Dodatno razdvajanje unutar elementa */
    width: 80%; /* Osigurava da zauzima celu širinu roditelja */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    margin-top: 0px; /* Uključuje padding u ukupnu širinu */
    /* Opcioni razdvajanje elemenata */
}
.role p {
    margin: 0; /* Uklonite podrazumevane margine */
    color: white;
    font-size: 17px;
    flex-grow: 1;
}

.role button {
    background-color: rgb(50, 50, 50); /* Boja dugmeta */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}